.bigbattery {
  width: 48px;
  height: 23px;
  border-radius: 4px;
  border: solid 2px #353738;
  background-color: #f2f4f7;
  display: block;
  position: relative;
  float: right;
  margin-left: 10px;
  top: -2px;

  &.plugged:before {
    width: 42px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    width: 0;
    height: 17px;
    border-radius: 2px;
    background-color: #353738;
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    top: 4px;
    left: 47px;
    width: 4px;
    height: 10px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #353738;
  }
}
